<%-include("header")%>
<!-- Header Section End -->
<!-- Categories Section Begin -->
<section class="categories">
<div class="container-fluid" style="margin: 86px 0 2vh;">
<div class="row">
  <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 p-0">
  <div class="categories__item categories__large__item set-bg" data-setbg="images/hp-final.png" style="background-image: url(&quot;images/hp-final.png&quot;);background-position: left;">
  </div>
  </div>
  <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 p-0" style="padding-right: 3vw;">
  <div class="categories__text hp-banner" style="max-width: 95%;">
  <!-- <h1 style="color: #27D8EE;">Spendeur</h1> -->
  <!-- background-color: rgba(189,39,51,.96); -->
  <h1 style="color: #222222;">
    Find businesses you can stand behind.
  </h1>
  <ul style="list-style-type: none;">
  <li class="hp-list" style="margin-bottom: 6vh; margin-top: 10vh">
    <div class="containter-fluid">
    <div class="row">
    <div class="col-2 hp-icon" style="display:inline-block;">
    <span class="icon_heart_alt" style="font-size: 6vh;color: #27D8EE;text-shadow:2px 2px #000;"></span>
    </div>
    <div class="col-10 hp-banner-content" style="display: inline-block;">
    <strong>
    <h5 class="" style="color: 000000;">
      <strong>
        Support black owned, sustanible, charitable, and small businesses with capitivating stories you can stand behind.
        </strong>
    </h5>

    </div>
    </div>
    </div>
  </li>
  <li class="hp-list" style="margin-bottom: 6vh; margin-top: 10vh">
    <div class="containter-fluid">
    <div class="row">
    <div class="col-2 hp-icon" style="display:inline-block;">
    <span class="icon_cart_alt" style="font-size: 6vh;color: #27D8EE;text-shadow:2px 2px #000;"></span>
    </div>
    <div class="col-10 hp-banner-content" style="display: inline-block;">
    <h5 class="" style="color: 000000">
      <strong>
      Shop a variety of products: Streetwear, Men's Fashion, Women's Fashion, Grooming, and Beauty to name a few.
      </strong>
    </h5>
    </div>
    </div>
    </div>
  </li>
  <li class="hp-list">
  <div class="containter-fluid" style="margin-top: 10vh;">
  <div class="row">
  <div class="col-2 hp-icon" style="display:inline-block;">
  <span class="icon_search" style="font-size: 6vh;color: #27D8EE;text-shadow:2px 2px #000;"></span>
  </div>
  <div class="col-10 hp-banner-content" style="display: inline-block;">
  <h5 class="" style="color: 000000">
    <strong>
    Find unique, innovative styles and products that you cannot find anywhere else.
    </strong>
  </h5>
  </div>
  </div>
  </div>
  </li>
  </ul>
  </div>
  </div>
</div>
</div>

<!-- Might Delete -->
<!-- <div class="container-fluid">
<div class="row">
<div class="col-lg-6">
</div>
<div class="col-lg-6 col-md-6 col-sm-6 p-0">
<div class="categories__item set-bg" data-setbg="images/side-img-1-hp.png" style="background-image: url(&quot;images/side-img-1-hp.png&quot;);background-position: right;">
<div class="categories__text" style="position: relative;">
  <button class="home-site-btn">
  <a href="#"><h4>Shop by product</h4></a>
  </button>
</div>
</div>
</div>
</div>
</div> -->
<!-- Might delete -->

<!-- <div class="col-lg-6 col-md-6 col-sm-6 p-0">
<div class="categories__item set-bg" data-setbg="images/womenwithbook.png" style="background-image: url(&quot;images/womenwithbook.png&quot;);background-position: left;">
<div class="categories__text">
<h4>Books</h4>
<p>273 items</p>
<a href="#">Shop now</a>
</div>
</div>
</div> -->

<div class="container-fluid">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 p-0 moveable">
<div class="categories__item set-bg" data-setbg="images/women-phone.jpg" style="background-image: url(&quot;images/women-phone.jpg&quot;);background-position: right;">
<div class="categories__text" style="position: absolute; left: 6vw;">
<button class="home-site-btn">
<a href="#"><h4>Shop by cause</h4></a>
</button>
</div>
</div>
</div>
<!-- Other div -->
<div class="col-lg-6 col-md-6 col-sm-6 p-0 moveable">
<div class="categories__item set-bg" data-setbg="images/side-img-1-hp.png" style="background-image: url(&quot;images/side-img-1-hp.png&quot;);background-position: right;">
<div class="categories__text" style="position: relative;">
  <button class="home-site-btn">
  <a href="#"><h4>Shop by product</h4></a>
  </button>
</div>
</div>
</div>
<!-- End of other div  -->
</div>
</div>
<script>
  var cols = document.getElementsByClassName("moveable")
   var colLeft = cols[0]
   var colRight = cols[1]
   colLeft.addEventListener("mouseenter", function(){
       colLeft.className = "col-8 moveable"
       colRight.className = "col-4 moveable"
   })
   colRight.addEventListener("mouseenter", function(){
       colLeft.className = "col-4 moveable"
       colRight.className = "col-8 moveable"
   })
   colLeft.addEventListener("mouseleave", function(){
       colLeft.className = "col-6 moveable"
       colRight.className = "col-6 moveable"
   })
   colRight.addEventListener("mouseleave", function(){
       colLeft.className = "col-6 moveable"
       colRight.className = "col-6 moveable"
   })
</script>
<!-- <div class="col-lg-6 col-md-6 col-sm-6 p-0">
<div class="categories__item set-bg" data-setbg="images/wearables.jpg" style="background-image: url(&quot;images/wearables.jpg&quot;);background-position: left;" transform="rotate(90deg)">
<div class="categories__text">
<h4>Wearables + Other</h4>
<p>792 items</p>
<a href="#">Shop now</a>
</div>
</div>
</div> -->

</section>
