<div class="container-fluid">

  <nav class="navbar navbar-expand-md navbar-dark">
<a class="navbar-brand" href="/">Spendeur</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item ml-auto">
      <hr>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact">Contact</a>
      </li>
      <li class="nav-item ml-auto">
      <hr>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
    </nav>
    </div>
